* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2048x1080/335d9efc6ad452ae9fc85671815e2cb5/photo-1647791753411-4cc21f9c85da.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 80%;
  margin: 0 auto;
}
.main_card {
  margin: 20px 0;
  padding: 15px 10px;
  background-color: #f7f8f9;
  border-radius: 10px;
  width: 200px;
}
.main_card input {
  border-radius: 5px;
  width: 100%;
}
