* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2048x1080/335d9efc6ad452ae9fc85671815e2cb5/photo-1647791753411-4cc21f9c85da.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 80%;
  margin: 0 auto;
}
.main_card {
  margin: 20px 0;
  padding: 15px 10px;
  background-color: #f7f8f9;
  border-radius: 10px;
  width: 250px;
}
.main_card div {
  margin: 10px 0;
}
.main_card input {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #d5d6d8;
}
.main_card input:focus {
  outline: none;
  border: 1px solid #cff38b;
}
.main_card button {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: none;
  background-color: #afdb5d;
  color: #fff;
  border-radius: 5px;
}
.main_card button:hover {
  background-color: #9ed833;
  color: #fff;
}
